//hyperlink
.post-body p a {
  color: #0366d6;
  border-bottom: none;
  &:hover {
    color: #01438f;
  }
}

//short code block
code {
  background: #f7f7f7;
  color: #f5871f;
}

//copy-right
.post-copyright a {
  color: #0366d6;
  border-bottom: none;
  &:hover {
    color: #01438f;
  }
}

// time format under the title
.posts-expand .post-meta time {
  cursor: initial;
}

// tabs border
.post-body .tabs ul.nav-tabs li.tab.active{
  border-top: 3px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid transparent;
  border-left: 1px solid #ddd;
  }
